<div class="page-header text-center">
    <h1>CRIAR NOVA TRANSAÇÃO</h1>
</div>

<p ng-show="message.length" class="alert alert-info">{{message}}</p>

<form novalidate name="formulary" class="row" ng-submit="submit()" data-ng-init="loadAccounts();">
    <div class="col-md-6">
        <div class="form-group">
            <label>Valor</label>
            <input type="number" min="0" ng-model="financialTransaction.value" name="value" class="form-control" required>
            <span ng-show="formulary.$submitted && formulary.value.$error.required"  class="form-control alert-danger">
                Valor é obrigatório
            </span>
        </div>

        <div class="form-group">
            <label>Origem</label>
            <select class="form-control"
            ng-value="origin.id" ng-model="financialTransaction.origin_id"
            ng-options="origin.id as origin.name for origin in origins" ng-click="getValidAccountsTransfer(origin.id);">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label>Destino</label>
            <select class="form-control" ng-model="financialTransaction.destination_id"
            ng-options="destination.id as destination.name for destination in validAccountsTransfer">
                <option value=""></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">
            Salvar
        </button>
         <a href="/financial_transactions" class="btn btn-primary">Voltar</a>
        <hr>
    </div>
</form>
